<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    
    
    <link rel="stylesheet" href="../public/css/mystylesheet.css">
    <nav>
        <ul>
            <li><a href="/Menu">Click here to access the menu!</a></li>
            <li><a href="/Order">Click here to place an order</a></li>
        </ul>
    </nav>
   
 
     
</head>
<body>
    <main>
        <h1 id ="Sign"> Welcome to the Digital Restaurant!</h1>
        <img src="../public/media/Images/fork.png" alt ="fork image" width ="13%">
        <img src="../public/media/Images/plate.png" alt ="plate" width ="13%">
        <img src="../public/media/Images/fork.png" alt ="fork image" width ="13%">
        <img src="../public/media/Images/plate.png" alt ="plate" width ="13%">
        <img src="../public/media/Images/fork.png" alt ="fork image" width ="13%">
        <hr>
        
        
        <h2 id ="Tagline">Enjoy a meal at any point of the day!</h2>
        <div id ="Breakfast!"> With selections from Breakfast!</div>
        <div id = "Lunch"> Lunch!</div>
        <div id = "Dinner"> And Dinner!</div>
        <img id ="Breakfast_Pic" src="../public/media/Images/breakfast.jpg" width = "20%">
        <img id ="Lunch_Pic" src="../public/media/Images/lunch.jpg" width = "15%">
        <img id ="Dinner_Pic" src="../public/media/Images/Salmon-Asparagus-Potatoes.jpg" width="20%">
        <hr>
        <h2>We here at the Zach Attack Grille offer a wide slection of domestic and cultural delicacies! </h2>
        
        <h2>In over 30 different locations around the globe, our staff prides themselves on the best service one could ask for, please select from one of the menus below to begin your food journey!  </h2>
    </main>
        <header id = "page_header">
        <nav>
            <menu>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </menu> 

        </nav>
    </header>
    <hr>
    <footer id="page_footer">
        Property of Zach Haveraneck&copy;
        
        
        
        
            
    </footer>
    
</body>
</html>