<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel= "stylesheet" href="../css/mystylesheet.css">
    <nav>
        <ul>
            <li><a href="../html/Order.html">Click here to return to the order screen!</a></li>
            <li><a href="../index.html">Click here to return to the homepage!</a></li>
        </ul>
    </nav>
</head>
<body>
     <h1>Below you will see our available items, proceed to the order screen when you have made your selection!</h1>
     <hr>
     <h2 id =Breakfast>Breakfast Items!</h2>
     <div id="pancake_description">Enjoy a stack of our fresh buttermilk pancakes! Made with clarified butter, white sugar, and all purpose flour. Calories: 194
        Protein: 5 g
        Carbohydrate: 41 g
        Sugar: 12 g
        Total Fat: 1 g
             Calories from Fat:  6%
        Fiber: 2 g
        Sodium: 396 mg
          </div>
     <table id="pancakes_table" border="2">
         <tr>
             <td>Menu ID</td>
             <td>Menu Item</td>
             <td>Price</td>
         </tr>

         <tr>
             <td>1</td>
             <td>Pancakes</td>
             <td>$8.00</td>
         </tr>
         <img id = "pancake_pic" src="../media/Images/Pancakes-SQ.jpg" width="15%">
         
     </table>
     <br><br><br><br><br><br><br>
     <div id="omelette_description">Enjoy a fresh omelette with your choice of cheese and up to 5 ingredients! 2-egg omelet (122g )
        Calories from Fat 156. Calories 221.
        26% Total Fat 17g.
        20%
        142% Cholesterol 427mg.
        15% Sodium 365mg.
        5% Potassium 161mg.
        0% Total Carbohydrates 0.9g.</div>
     <table id="omelette_table" border="2">
         <tr>
            <td>Menu ID</td>
             <td>Menu Item</td>
             <td>Price</td> 
         </tr>
         <tr>
             <td>2</td>
             <td>Omelette</td>
             <td>$10.00</td>
         </tr>
         <img id="omelette_pic" src="../media/Images/omelette.jpg" width="20%">
     </table>
     <br><br><br><br><br><br><br>
     <div id="waffle_description">Enjoy the freshest tasting Belgian Waffles you've ever had! Served with our without powdered sugar! waffle, round (7" dia) (75g )
        Calories from Fat 95. Calories 218.
        17% Total Fat 11g.
        11% Saturated Fat 2.1g.
        17% Cholesterol 52mg.
        16% Sodium 383mg.
        3% Potassium 119mg.
        8% Total Carbohydrates 25g.</div>
     <table id="waffle_table" border="2">
         <tr>
             <td>Menu ID</td>
             <td>Menu Item</td>
             <td>Price</td>
         </tr>
         <tr>
             <td>3</td>
             <td>Belgian Waffles</td>
             <td>$9.00</td>
         </tr>
         <img id="waffle_pic" src="../media/Images/waffles.jpg" width="15%">
     </table>
     <br><br><br><br><br><br><br>
     <div id="skillet_description">Mix it up a little bit with our specialty skillet! Made up from one of each ingridient from the kitchen! 77% Total Fat 50g.
        120% Saturated Fat 24g.
        Trans Fat 0.7g.
        266% Cholesterol 797mg.
        43% Sodium 1041mg.
        23% Potassium 790mg.
        8% Total Carbohydrates 23g.
        14% Dietary Fiber 3.5g.</div>
        <table id="skillet_table" border="2">
            <tr>
                <td>Menu ID</td>
                <td>Menu Item</td>
                <td>Price</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Skillet</td>
                <td>$15.00</td>
            </tr>
            <img id="skillet_pic" src="../media/Images/skillet.jpg" width="15%">
        </table>
        <hr>
        <h1 id="lunch_sign">Lunch Items!</h1>
        <div id="burger_description">Enjoy an American classic with a grilled 100% Angus Beef half pound burger, from farm to table! 77% Total Fat 50g.
            120% Saturated Fat 24g.
            Trans Fat 0.7g.
            266% Cholesterol 797mg.
            43% Sodium 1041mg.
            23% Potassium 790mg.
            8% Total Carbohydrates 23g.
            14% Dietary Fiber 3.5g.</div>
            <table id="burger table" border ="2">
                <tr>
                    <td>Menu ID</td>
                    <td>Menu Item</td>
                    <td>Price</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Burger</td>
                    <td>$15.00</td>
                </tr>
                <img id="burger_pic" src="../media/Images/burger.jpg" width="20%">
            </table>
            <br><br><br><br><br><br><br>
            <div id="salad_description">Enjoy something on the fresher side of things with our Greek salad! salad with dressing (about 2 cups) (170g )
                Calories from Fat 113. Calories 148.
                20% Total Fat 13g.
                16% Saturated Fat 3.1g.
                3% Cholesterol 9.3mg.
                7% Sodium 176mg.
                10% Potassium 353mg.
                2% Total Carbohydrates 6.4g. </div>
                <table id="salad_table" border ="2">
                    <tr>
                        <td>Menu ID</td>
                        <td>Menu Item</td>
                        <td>Price</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Greek Salad</td>
                        <td>$10.00</td>
                    </tr>
                    <img id="salad_pic" src="../media/Images/salad.jpg" width="15%">
                </table>
                <br><br><br><br><br><br><br>
                <div id="cabano_description">Enjoy some delicacies from south of the border with our state of the art Cubano Sandwich! Per serving: 440 calories (220 from fat), 24g total fat, 10g saturated fat, 110mg cholesterol, 2120mg sodium, 20g carbohydrates (2g dietary fiber, 2g sugar), 32g protein.</div>
                <table id="cubano_table" border="2">
                    <tr>
                        <td>Menu ID</td>
                        <td>Menu Item</td>
                        <td>Price</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Cubano Sandwich</td>
                        <td>$20.00</td>
                    </tr>
                    <img id="cubano_pic" src="../media/Images/cubano.jpg" width="20%">
                </table>
                <br><br><br><br><br><br><br>
                <div id="chicken_wrap_description">Tone things back a bit with our grilled, breaded, or buffalo chicken wrap! Grilled Chicken Wrap (1 serving) contains 42g total carbs, 40g net carbs, 14g fat, 31g protein, and 430 calories.</div>
                <table id="wrap_table" border ="2">
                    <tr>
                        <td>Menu ID</td>
                        <td>Menu Item</td>
                        <td>Price</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Chicken Wrap</td>
                        <td>$15.00</td>
                    </tr>
                    <img id ="wrap_pic" src="../media/Images/Grilled-Chicken-Wraps-21.jpg" width="15%">
                </table>
                <hr>
                <h1 id="dinner_sign">Dinner Items!</h1>
                <div id="steak_description">Enjoy a true classic with a prime cut of New York Strip Steak. calories from fat 108, total fat 12.2g, saturated fat 5g, trans fat 0g, cholesterol 45mg, sodium 42mg, total carbohydrate 0g, dietary fiber 0g, sugars 0g, protein 17g, vitamin a 0%, vitamin c 0%, calcium 1%, iron 2%.</div>
                <table id="steak_table" border ="2">
                    <tr>
                        <td>Menu ID</td>
                        <td>Menu Item</td>
                        <td>Price</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>New York Strip Steak</td>
                        <td>$25.00</td>
                    </tr>
                    <img id="steak_pic" src="../media/Images/steak.jpg" width="15%">
                </table>
                <br><br><br><br><br><br><br>
                <div id="salmon_description">Hang on to your hats for this delicious catch of the day! 118 calories.
                    3.65 g of fat.
                    0 g of carbohydrate.
                    19.93 g of protein.</div>
                    <table id="salmon_table" border="2">
                        <tr>
                            <td>Menu ID</td>
                            <td>Menu Item</td>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Salmon</td>
                            <td>$35.00</td>
                        </tr>
                        <img id="salmon_pic" src="../media/Images/salmon.jpg" width ="20%">
                    </table>
                    <br><br><br><br><br><br><br>
                    <div id="parm_description">We're heading down to Italy with this little piece of Heaven! Piece without pasta (159g )
                        Calories from Fat 152. Calories 324.
                        26% Total Fat 17g.
                        21% Saturated Fat 4.1g.
                        29% Cholesterol 86mg.
                        36% Sodium 852mg.
                        13% Potassium 466mg.
                        6% Total Carbohydrates 17g.</div>
                        <table id="parm_table" border="2">
                            <tr>
                                <td>Menu ID</td>
                                <td>Menu Item</td>
                                <td>Price</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Chicken Parm</td>
                                <td>$20.00</td>
                            </tr>
                            <img id="parm_pic" src="../media/Images/parm.jpg" width="20%">
                        </table>
                        <br><br><br><br><br><br><br>
                        <div id="ribs_description">Closing it out with a classic among classics, Pork Ribs.   medium rib (35g )
                            Calories from Fat 97. Calories 126.
                            17% Total Fat 11g.
                            16% Saturated Fat 3.2g.
                            12% Cholesterol 37mg.
                            1% Sodium 32mg.
                            3% Potassium 93mg.
                            0% Total Carbohydrates 0g.</div>
                            <table id="ribs_table" border="2">
                                <tr>
                                    <td>Menu ID</td>
                                    <td>Menu Item</td>
                                    <td>Price</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Pork Ribs</td>
                                    <td>$30.00</td>
                                </tr>
                                <img id="ribs_pic" src="../media/Images/ribs.jpg" width="20%">
                            </table>
                        
                    
                
                

                
       

</body>
</html> 