<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="../public/css/mystylesheet.css">
    <nav>
        <ul>
            <li><a href="/Menu">Click here to return to the menu page! </a></li>
            <li><a href="/">Click here to return to the home page!</a></li>
        </ul>
    </nav>
</head>
<body>
    <main> 
        <h1>You will be able to process your order using the options below!</h1>
        <h2>Click here for Breakfast options!</h2>
        <ul id="list">
            <li><button onclick="window.alert('Thanks we will get right on that!')">Pancakes</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Omelette</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Waffles</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Skillet</button></li>
        </ul>
        <h2>Click here for Lunch options!</h2>
        <ul id="list">
            <li><button onclick="window.alert('Thanks we will get right on that!')">Burger</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Greek Salad</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Cubano</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Chicken Wrap</button></li>
        </ul>
        <h2>Click here for Breakfast options!</h2>
        <ul id="list">
            <li><button onclick="window.alert('Thanks we will get right on that!')">Steak</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Salmon</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Chicken Parm</button></li>
            <li><button onclick="window.alert('Thanks we will get right on that!')">Ribs</button></li>
        </ul>
    </main>
    
</body>
</html>